# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# Python virtual environments
sam/
venv/
.venv/

# Tree output
tree.txt

# Secrets
*_key.txt
tree.txt
# Frontend
frontend/node_modules/
frontend/dist/
frontend/.firebase/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db